
html {
    position: relative;
    min-height: 100%;
    background: black;
}
body{
	margin: 0 0 100px;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');

.header-wrapper{
	height: 50vh;
	background:black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family:"Open Sans", sans-serif;
}
.logo{
	width: 50%;
	height: 30vh;
	background:url("images/nyt-logo.svg")center no-repeat;
	background-size: contain;
}
#myList{
	border:1px solid white;
	border-radius: 0px;
	background: white;
	width: 100%;
}
.postWrapper{
	display: flex;
	align-items:center;
	justify-content: center;
	width: 100%;
	height: 70vh;
	position: relative;
	overflow: hidden;
}
.postPicture{
	height: 100%;
	width: 170%;
}
.postWrapperTitle{
	width: 95%;
	height: auto;
	background: rgba(0,0,0,0.6);
	color:white;
	padding: 10px 15px;
	font-size: 16px;
	font-family:"Open Sans", sans-serif;
	position: absolute;
	bottom:0;
	left: 0;
}
.footer-wrapper{
	position:absolute;
	bottom:0;
	width: 100%;
	height: 100px;
	background: black;
	color:#c2c2c2;
	font-family: "Open Sans", sans-serif;
	display: flex;
	justify-content: center;;
	align-items: center;
}
@media (min-width: 600px) and (max-width: 1000px) {
	.header-wrapper{
		height:20vh;
		flex-direction: row;
		justify-content: flex-start;
	}
	.logo{
		width: 12%;
		height: 12vh;
		margin-left: 15%;
	}
	#sectionsWrapper{
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		background: black;
	}
	.postWrapper{
		width: 33.33%;
		height: 320px;
	}
}
@media (min-width: 1001px) {
	.header-wrapper{
	height:18vh;
	flex-direction: row;
	justify-content: flex-start;
	}
	.logo{
		width: 12%;
		height: 12vh;
		margin-left: 15%;
	}
	#sectionsWrapper{
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	.postWrapper{
		width: 25%;
		height: 55vh;
	}
}